body {
    background-color: forestgreen;
    color: white;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
#cards {
    background-color: darkgreen;
    text-align: center;
}
h1 {
    text-align: center;
}
button {
    background-color: brown;
}